<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>AmdTscSync</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2020 Cosmo1t fumoboy007</string>
	<key>DTXcode</key>
	<string>1150</string>
	<key>DTSDKName</key>
	<string>macosx10.13</string>
	<key>DTSDKBuild</key>
	<string>17A315g</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleVersion</key>
	<string>2.0.0</string>
	<key>BuildMachineOSBuild</key>
	<string>19G73</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleExecutable</key>
	<string>AmdTscSync</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>CFBundleIdentifier</key>
	<string>org.driver.AmdTscSync</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AmdTscSync</key>
		<dict>
			<key>IOClass</key>
			<string>AmdTscSync</string>
			<key>IOPropertyMatch</key>
			<dict>
				<key>IOCPUNumber</key>
				<integer>11</integer>
			</dict>
			<key>IOMatchCategory</key>
			<string>AmdTscSync</string>
			<key>IOProviderClass</key>
			<string>AppleACPICPU</string>
			<key>CFBundleIdentifier</key>
			<string>org.driver.AmdTscSync</string>
		</dict>
	</dict>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTXcodeBuild</key>
	<string>11E608c</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.13</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kpi.libkern</key>
		<string>8.0d0</string>
		<key>com.apple.kpi.iokit</key>
		<string>7.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>8.0b1</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
	<key>DTPlatformBuild</key>
	<string>11E608c</string>
</dict>
</plist>